<?xml version="1.0"?>
<launch>
  <!-- 在rviz中加载urdf模型和加载xacro模型不是改路径就行的，千万记住 -->
  <param name="robot_description" textfile="$(find ur5e_tracer_robot_gazebo)/urdf/ur5e_tracer_robot.urdf"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ur5e_tracer_robot_gazebo)/rviz/view_ur5e_tracer_robot.rviz" />
</launch>
