<?xml version="1.0"?>

<robot name="robotiq_realsense2_connector" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robotiq_realsense2_connector" params="prefix parent *origin">

        <joint name="${prefix}connector_base_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}connector_base_link" />
            <xacro:insert_block name="origin" />
            <!--origin
            xyz="0 0 0" rpy="0 0 0"/-->
        </joint>

        <link name="connector_base_link">
            <inertial>
                <origin
                    xyz="0.00434937212978377 5.20417042793042E-18 0.0334255512696373"
                    rpy="0 0 0" />
                <mass
                    value="0.00891029041853838" />
                <inertia
                    ixx="3.67875098397923E-06"
                    ixy="9.3727693696127E-22"
                    ixz="-1.4437922233958E-07"
                    iyy="3.27524790321564E-06"
                    iyz="-1.30347421081159E-21"
                    izz="8.06494585207849E-07" />
            </inertial>
            <visual>
                <origin
                    xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://connector_description/meshes/base_link.STL" />
                </geometry>
                <material name="">
                    <color rgba="1 1 1 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh
                        filename="package://connector_description/meshes/base_link.STL" />
                </geometry>
            </collision>
        </link>

        <link name="connector_to_d435_link" />
        <joint name="connector_to_d435_joint" type="fixed">
            <origin xyz="0.0152 0 0.0445" rpy="0 0 0" />
            <parent link="connector_base_link" />
            <child link="connector_to_d435_link" />
            <axis xyz="0 0 0" />
        </joint>

        <gazebo reference="connector_base_link">
            <material>Gazebo/White</material>
        </gazebo>

    </xacro:macro>
</robot>